<article class="rounded-xl border white-text px-4 py-2 hover:border-orange-400 hover:border-4">
    <a href="/blog/@Post.PublishDate.ToString("yyyy/MM/dd")/@Post.Slug" style="display: block">
        <div>
            <h3 class="text-4xl">@Post.Title</h3>
            @if (!string.IsNullOrWhiteSpace(Post.Subtitle))
            {
                <h6 class="text-2xl mt-2">@Post.Subtitle</h6>
            }
            <p class="mt-2">@Post.Description</p>
        </div>
    </a>
    <hr class="my-2 -mx-4" />
    <p>@Post.PublishDate.ToString("MMMM dd, yyyy")</p>
</article>