@page "/Account/Register"
@using Microsoft.AspNetCore.Identity
@using BlogEngine.Client.Components

<h3>Register</h3>

<div>
    <div>
        <ul>
            @foreach (var errorMessage in (_identityErrors ?? Enumerable.Empty<IdentityError>()))
            {
                <li>@errorMessage.Description</li>
            }
        </ul>
    </div>
    <EditForm Model="Dto" FormName="register" OnSubmit="RegisterUser">
        <FluentValidationValidator @ref="_fluentValidationValidator" DisableAssemblyScanning="true" />
        <ValidationSummary role="alert" />
        <MuiInputText @bind-Value="Dto.Email" Label="Email" />
        <MuiInputText @bind-Value="Dto.Password" Type="password" Label="Password" />
        <MuiInputText @bind-Value="Dto.ConfirmPassword" Type="password" Label="Confirm Password" />
        <MuiInputText @bind-Value="Dto.FirstName" Label="First Name" />
        <MuiInputText @bind-Value="Dto.LastName" Label="Last Name" />
        <button type="submit">Create Account</button>
        <a href="/">Cancel</a>
    </EditForm>
</div>