@page "/admin/posts/create"
@page "/admin/posts/edit/{PostId:int?}"

<BlazoredToasts />

<div class="row bottom-margin">
    <h3 class="max">@((_isEditing) ? "Edit" : "Create") Post</h3>

    @* @if (_isEditing) *@
    @* { *@
    @*     <div> *@
    @*         <button @onclick="() => DeleteEvent(Dto.EventId)">Delete</button> *@
    @*     </div> *@
    @* } *@
</div>

<div>
    <EditForm Model="Dto" OnSubmit="SavePost" FormName="CreateEditPost">
        <FluentValidationValidator
            @ref="_fluentValidationValidator" DisableAssemblyScanning="true"/>
        <ValidationSummary class="text-sm text-red-500 px-8" role="alert"/>
        <MuiInputText Value="@Dto.Title" ValueExpression="() => Dto.Title" ValueChanged="@((string? title) => UpdateSlug(title))" Label="Title" />
        <MuiInputText @bind-Value="Dto.Subtitle" Label="Subtitle" />
        <div class="flex">
            <MuiInputText @bind-Value="Dto.Slug" Label="Slug" />
            <button type="button" class="text-nowrap" @onclick="ReplaceSlug">Replace Slug</button>
        </div>
        <MuiInputText @bind-Value="Dto.Description" Label="Description" />
        <MuiInputTextArea @bind-Value="Dto.Content" Label="Content" />
        <MuiInputDate Type="InputDateType.Date" @bind-Value="Dto.PublishDate" Label="Date Posted" />
        <label class="checkbox">
            <InputCheckbox @bind-Value="Dto.IsPublished" id="published" placeholder=" "/>
            <span class="white-text" for="published">Is Published</span>
        </label>
        <div>
            <button class="rounded-xl h-10 px-4 bg-amber-500 text-slate-800" type="submit">
                <span>Save Post</span>
            </button>
            <a href="/admin/posts" class="inline-block rounded-xl leading-10 h-10 px-4 bg-slate-500  text-white ml-4">Cancel</a>
        </div>
    </EditForm>
</div>