@inherits LayoutComponentBase

<PageTitle>Blog</PageTitle>

<div>
    <NavMenu />
    <main class="container bg-gray-900 mx-auto px-10 py-5 h-[calc(100vh-80px)] overflow-auto">
        @* lg:max-w-4xl md:max-w-2xl sm:max-w-xl sm:mx-auto xl:max-w-6xl xs:mx-4 *@
        @Body
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>