@using Microsoft.AspNetCore.Components.Authorization
<header class="l">
    <nav>
        <h6>
            <NavLink href="/">Michael Stokesbary</NavLink>
        </h6>
        <nav class="max right-align">
            <NavLink href="/blog">Blog</NavLink>
        </nav>
    </nav>
</header>
<header class="s m">
    <h6 class="center-align top-padding">
        <NavLink href="/">Michael Stokesbary</NavLink>
    </h6>
    <nav class="no-margin center-align">
        <NavLink href="/blog">Blog</NavLink>
    </nav>
</header>