@using Microsoft.AspNetCore.Components.Authorization
<nav class="h-20 grid content-center px-10 bg-amber-800">
    <div class="md:flex md:justify-between">
        <h6 class="text-center text-[1.5rem]">
            <NavLink href="/" Match="NavLinkMatch.All" ActiveClass="text-orange-300">Michael Stokesbary</NavLink>
        </h6>
        <nav class="text-center align-middle leading-8">
            <AuthorizeView>
                <Authorized>
                    <AuthorizeView Roles="@SharedConstants.Administrator" Context="adminContext">
                        <Authorized>
                            <NavLink href="/admin" ActiveClass="text-orange-300" class="mr-4">Admin</NavLink>
                        </Authorized>
                    </AuthorizeView>
                    <form action="/Account/Logout" method="post" id="logoutForm" class="inline mr-4">
                        <AntiforgeryToken/>
                        <input type="hidden" name="ReturnUrl" value="@_currentUrl"/>
                        <a onClick="(() => { var logoutForm = document.getElementById('logoutForm'); logoutForm.submit(); })()">
                            Log Off
                        </a>
                    </form>
                </Authorized>
                <NotAuthorized>
                    @* <NavLink href="/account/register">Register</NavLink> *@
                    @* <NavLink class="ml-4" href="/account/login">Log in</NavLink> *@
                </NotAuthorized>
            </AuthorizeView>
            <NavLink href="/blog" Match="NavLinkMatch.Prefix" ActiveClass="text-orange-300" class="mr-4">Blog</NavLink>
            <NavLink href="/about" Match="NavLinkMatch.All" ActiveClass="text-orange-300">About</NavLink>
        </nav>
    </div>
</nav>