@page "/About"
<h3>About</h3>
<p>
    Just adding a place holder for an about page that may or may not ever get populated. Not sure exactly what I would put
    here, but wanted to have more than one navigation link in the menu :)
</p>