@page "/Blog/{Year:int}/{Month:int}/{Day:int}/{Slug}"

<h3>@_blogPost.Title</h3>
@if (!string.IsNullOrWhiteSpace(_blogPost.Subtitle))
{
    <h6>@_blogPost.Subtitle</h6>
}
<p>@_blogPost.PublishDate.ToString("MMMM dd, yyyy")</p>
<p>@((MarkupString)_blogPost.Content)</p>