@page "/"

<p>
    If you got here, you are probably actually looking for my blog. My goal is to have some content on this page that gives you all
    and idea of who I am, but for now I hope you enjoy the <a href="/blog" class="text-orange-300 underline">posts</a> I have written.
</p>